body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #d70d0d;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .main {
    padding: 20px;
  }
  
  .hero {
    background-image: url('https://images.unsplash.com/photo-1683225757624-86943fb48966?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2QlMjByZXN0cmF1bnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #ff4545;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .popular-restaurants {
    /* Add styles for popular restaurants section */
  }
  
  .cuisine-options {
    /* Add styles for cuisine options section */
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
  }
  .sticky{
    position: fixed;
    top: 0%;
  }
.backdrop{
  position: fixed;
  top: 0px;
  left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 100;
}
  